hello {{title}}
<button [disabled]="isDisabled" > {{myButton}} </button>
<br/>
<button (click)="increamentCount()" >Increament</button>
<br/>
<p>Counter: {{count}}</p>
<br/>
<input [(ngModel)] = "text" placeholder = "Some text"/>
<p>{{text}}</p>
<div *ngIf="isLoggedIn; else loggedOut"> wolcome {{user}}</div>

<ng-template #loggedOut>Nigga faggot</ng-template>
<br/>
<ul>
    <li *ngFor="let frut of fruts">{{ frut }}</li>
</ul>
 
<h1>{{title | uppercase}}</h1>

<div>
    <p>Today is {{ today }}</p>
    <p>Today is {{ today | date }}</p>
    <p>Today is {{ today | date : 'fullDate' }}</p>
    <p>Today is {{ today | date : 'short'}}</p>
    <p>Today is {{ today | date : 'yyyy:MM:dd hh:mm:ss'}}</p>
</div>


<div>
@for (num of str; track $index) {
    <p>{{$index+1}} {{num}}</p>
}
</div>